@import url('./reset.css');
@import url('./variables.css');
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.root_container {
	min-width: 320px;
	width: 100%;
	max-width: 600px;
	min-height: 100vh;
	overflow: scroll;
	margin: 0 auto;
	position: relative;
	padding: 0 16px 20px 16px;
	box-sizing: border-box;
	background-color: white;
	scrollbar-width: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@font-face {
}

body,
button,
textarea,
input {
}

div {
	box-sizing: border-box;
}
